<%- include('../partials/header.ejs') -%>

<div class="row">
    <div class="col-6 offset-3">
        <h1>Nuevo producto</h1>

        <%- include('../partials/errors.ejs') -%>

        <form action="/productos/store" method="post">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre: </label>
                <input type="text" class="form-control" name="nombre" id="nombre"  value="<%= values.nombre %>">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion: </label>
                <textarea class="form-control" name="descripcion" id="descripcion" rows="3"><%= values.descripcion %></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>
    
<%- include('../partials/footer.ejs') -%>